body{
    
    background: url(./Assets/Moonlight.png) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    color: rgb(57, 143, 46);
}

#page-content {
    flex: 1 0 auto;
  }

  .main{
      margin-left: 1%;
      margin-right: 1%;
  }

  .Inner-Column{
      height: 20vh;
      text-align: center;
      padding: 0%;
  }

.headshot{
    height: 18vh;
}

.NavElement{
    color: rgb(57, 143, 46) !important;
}


